<!doctype html>
<html lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Strax - IT & SaaS Startups HTML Template">
    <meta name="description" content="Strax - IT & SaaS Startups HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- BoxIcons Min CSS -->
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="~/assets/css/rtl.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <title>Strax - قالب HTML استراکس , پوسته چندمنظوره شرکتی استارت آپ فناوری اطلاعات و خدمات دیجیتال</title>

    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
</head>

<body>
    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="spacle-responsive-nav">
            <div class="container">
                <div class="spacle-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacle-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/assets/img/logo.png" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    خانه <i class='bx bx-chevron-down'></i>
                                </a>

                                <ul class="dropdown-menu mega-dropdown-menu">
                                    <li class="nav-item">
                                        <h3>با انیمیشن</h3>
                                        <a href="index.html" class="nav-link active">صفحه اصلی 1 (استارت آپ)</a>
                                        <a href="index-it-2.html" class="nav-link">صفحه اصلی 2 (استارت آپ)</a>
                                        <a href="index-it-3.html" class="nav-link">صفحه اصلی 3 (استارت آپ)</a>
                                        <a href="index-saas.html" class="nav-link">صفحه اصلی 4 (استارت آپ ساس)</a>
                                        <a href="index-3.html" class="nav-link">صفحه اصلی 5 (ربات چت)</a>
                                        <a href="index-4.html" class="nav-link">صفحه اصلی 6 (ربات چت)</a>
                                        <a href="index-5.html" class="nav-link">صفحه اصلی 7 (ربات چت)</a>
                                        <a href="index-digital-marketing-agency.html" class="nav-link">صفحه اصلی 8 (دیجیتال مارکتینگ)</a>
                                    </li>

                                    <li class="nav-item">
                                        <h3>بدون انیمیشن</h3>
                                        <a href="index-without-animation.html" class="nav-link">صفحه اصلی 1 (استارت آپ)</a>
                                        <a href="index-it-2-without-animation.html" class="nav-link">صفحه اصلی 2 (استارت آپ)</a>
                                        <a href="index-it-3-without-animation.html" class="nav-link">صفحه اصلی 3 (استارت آپ)</a>
                                        <a href="index-saas-without-animation.html" class="nav-link">صفحه اصلی 4 (استارت آپ ساس)</a>
                                        <a href="index-3-without-animation.html" class="nav-link">صفحه اصلی 5 (ربات چت)</a>
                                        <a href="index-4-without-animation.html" class="nav-link">صفحه اصلی 6 (ربات چت)</a>
                                        <a href="index-5-without-animation.html" class="nav-link">صفحه اصلی 7 (ربات چت)</a>
                                        <a href="index-digital-marketing-agency-without-animation.html" class="nav-link">صفحه اصلی 8 (دیجیتال مارکتینگ)</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="about.html" class="nav-link">درباره ما</a>
                            </li>

                            <li class="nav-item">
                                <a href="pricing.html" class="nav-link">قیمت</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">صفحات <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            خدمات ما
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="services-1.html" class="nav-link">خدمات ما 1</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="services-2.html" class="nav-link">خدمات ما 2</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="services-3.html" class="nav-link">خدمات ما 3</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="single-service.html" class="nav-link">جزئیات خدمات</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link">امکانات</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="features-1.html" class="nav-link">امکانات 1</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="features-2.html" class="nav-link">امکانات 2</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">تیم</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="log-in.html" class="nav-link">ورود کاربر</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="sign-up.html" class="nav-link">ثبت نام</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">سوالات متداول</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="error-404.html" class="nav-link">خطای 404</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">وبلاگ <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog-1.html" class="nav-link">وبلاگ شبکه ای</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="blog-2.html" class="nav-link">وبلاگ سایدبار</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="single-blog.html" class="nav-link">وبلاگ جداگانه</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">تماس با ما</a>
                            </li>
                        </ul>

                        <div class="others-options">
                            <a href="contact.html" class="default-btn">
                                <i class="bx bxs-hot"></i>شروع کار<span></span>
                            </a>
                            <a href="log-in.html" class="optional-btn">
                                <i class="bx bx-log-in"></i>ورود<span></span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
  @RenderBody()
    <!-- Start Footer Area -->
    <footer class="footer-area">
        <div class="divider"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <a href="index.html"><img src="~/assets/img/white-logo.png" alt="image"></a>
                        </div>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>شرکت</h3>

                        <ul class="services-list">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">خدمات</a></li>
                            <li><a href="#">امکانات</a></li>
                            <li><a href="#">قیمت ها</a></li>
                            <li><a href="#">آخرین اخبار</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>پشتیبانی</h3>

                        <ul class="support-list">
                            <li><a href="#">سوالات متداول</a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                            <li><a href="#">شرایط و ضوابط</a></li>
                            <li><a href="#">انجمن</a></li>
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>اطلاعات تماس</h3>

                        <ul class="footer-contact-info">
                            <li>موقعیت: <a href="https://goo.gl/maps/MQ78iGP5g9VgZcJ38" target="_blank">کشور شما ، استان و شهر ، محله سکونت شما</a></li>
                            <li>ایمیل: <a href="mailto:hello@spacle.com">hello@spacle.com</a></li>
                            <li>تلفن: <a href="tel:021-12345678">021-12345678</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <p>کپی رایت <i class="bx bx-copyright"></i> 1398 استراکس. تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat/?aff=barat" target="_blank">Barat Hadian</a></p>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <div class="go-top"><i class='bx bx-chevron-up'></i></div>

    <!-- jQuery Min JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Appear Min JS -->
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- MeanMenu JS -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- WOW Min JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Message Conversation JS -->
    <script src="~/assets/js/conversation.js"></script>
    <!-- AjaxChimp Min JS -->
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact Form Min JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Particles Min JS -->
    <script src="~/assets/js/particles.min.js"></script>
    <script src="~/assets/js/coustom-particles.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>

</html>

